<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/Content/StyleSheet1.css">
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;">
        <h3 class="w3-bar-item">Actions</h3>
        <a href="@Url.Action("AddOne", "Queue")" class="w3-bar-item w3-button">1. Add Item to Queue</a>
        <a href="@Url.Action("AddLots", "Queue")" class="w3-bar-item w3-button">2. Add Huge List of Items to Queue</a>
        <a href="@Url.Action("Display", "Queue")" class="w3-bar-item w3-button">3. Display Queue</a>
        <a href="@Url.Action("Delete", "Queue")" class="w3-bar-item w3-button">4. Delete from Queue</a>
        <a href="@Url.Action("Clear", "Queue")" class="w3-bar-item w3-button">5. Clear Queue</a>
        <a href="@Url.Action("Search", "Queue")" class="w3-bar-item w3-button">6. Search Queue</a>
        <a href="@Url.Action("Index", "Index")" class="w3-bar-item w3-button">7. Return to Main Menu</a>
        <div><p class="statusbar">@Html.Raw(ViewBag.QueueStatus)</p></div>
    </div>

    <!-- Page Content -->
    <div style="margin-right:25%">

        <div class="w3-container w3-teal">
            <h1>Let's Play with Queues</h1>
        </div>
        <div>
            <table>
                @if (ViewBag.theQueue != null)
                {
                    foreach (var item in ViewBag.theQueue)
                    {
                        <tr><td>@item</td></tr>
                    }

                }

            </table>
        </div>




    </div>

</body>
</html>
