@ViewBag.title = "Dictionary Fun"

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/Content/StyleSheet1.css">
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;">
        <h3 class="w3-bar-item">Actions</h3>
        <a href="@Url.Action("AddOne", "Dictionary")" class="w3-bar-item w3-button">1. Add Item to Dictionary</a>
        <a href="@Url.Action("AddLots", "Dictionary")" class="w3-bar-item w3-button">2. Add Huge List of Items to Dictionary</a>
        <a href="@Url.Action("Display", "Dictionary")" class="w3-bar-item w3-button">3. Display Dictionary</a>
        <a href="@Url.Action("Delete", "Dictionary")" class="w3-bar-item w3-button">4. Delete from Dictionary</a>
        <a href="@Url.Action("Clear", "Dictionary")" class="w3-bar-item w3-button">5. Clear Dictionary</a>
        <a href="@Url.Action("Search", "Dictionary")" class="w3-bar-item w3-button">6. Search Dictionary</a>
        <a href="@Url.Action("Index", "Index")" class="w3-bar-item w3-button">7. Return to Main Menu</a>
        <div><p class="statusbar">@Html.Raw(ViewBag.DictionaryStatus)</p></div>
    </div>

    <!-- Page Content -->
    <div style="margin-right:25%">

        <div class="w3-container w3-teal">
            <h1>Let's Play with Dictionaries</h1>
        </div>
        <div>
            <table>
                @if (ViewBag.theDictionary != null)
                {
                    foreach (var item in ViewBag.theDictionary)
                    {
                        <tr><td>@item</td></tr>
                    }

                }

            </table>
        </div>




    </div>

</body>
</html>
